<!-- quiz-questions.ejs -->
<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

    * {
      box-sizing: border-box;
    }

    body {
      background-color: rgb(10, 10, 10);
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Poppins", sans-serif;
    }

    .quiz-card {
      border: 2px solid rgb(111, 0, 255);
      border-radius: 10px;
      box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
      background: radial-gradient(circle, rgb(244, 245, 248) 0%, rgb(209, 212, 214) 100%);
      color: black;
      overflow: hidden;
      width: 600px;
      max-width: 100%;
      padding: 1rem;
      align-items: center;
      margin-left: 300px;
    }

    h2 {
      text-align: center;
      margin: 0;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    ul li {
      font-size: 1.2rem;
      margin: 1rem 0;
    }

    ul li label {
      cursor: pointer;
    }

    button {
      background-color: #aa84bb;
      border: none;
      color: white;
      cursor: pointer;
      display: block;
      font-family: inherit;
      font-size: 1.1rem;
      width: 50%;
      padding: 1.3rem;
      margin-left: 300px;
    }

    button:hover {
      background-color: #732d91;
    }

    button:focus {
      background-color: #5e3370;
      outline: none;
    }

    .result-card {
      border: 2px solid green;
      border-radius: 10px;
      box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
      background: radial-gradient(circle, rgb(202, 205, 220) 0%, rgb(70, 194, 252) 100%);
      color: green;
      overflow: hidden;
      width: 600px;
      max-width: 100%;
      padding: 1rem;
      text-align: center;
    }

    /* Dropdown styles */
    .dropdown-container {
      text-align: center;
      margin-bottom: 20px;
    }

    .dropdown-label {
      color: white;
    }

    .dropdown-select {
      padding: 0.5rem;
    }
  </style>
</head>

<body>
  <h1><%= title %></h1>

  <!-- Dropdown for difficulty selection -->
  <form action="/quiz-questions" method="get">
    <div class="dropdown-container">
      <label class="dropdown-label" for="difficulty">Select Difficulty:</label>
      <select id="difficulty" name="difficulty" class="dropdown-select" onchange="this.form.submit()">
        <option value="select">---Select--</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>
  </form>


  <form action="/submit-answer" method="post">
    <ul>
      <% quizQuestions.forEach((question, index) => { %>
        <li>
          <div class="quiz-card">
            <div class="card-body">
              <h5 class="quiz-header">Question <%= index + 1 %></h5>
              <p class="card-text"><strong>Question:</strong> <%= question.question %></p>
              <ul>
                <li>
                  <label>
                    <input type="radio" name="answer<%= question._id %>" value="<%= question.option1 %>"> <%= question.option1 %>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="answer<%= question._id %>" value="<%= question.option2 %>"><%= question.option2 %>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="answer<%= question._id %>" value="<%= question.option3 %>"> <%= question.option3 %>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="answer<%= question._id %>" value="<%= question.option4 %>"> <%= question.option4 %>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </li>
      <% }); %>
    </ul>
    <button type="submit" class="btn btn-primary">Submit Answers</button>
  </form>

  <!-- Result -->
</body>

</html>
